body {
  font-family: "Crimson Text", serif;
  margin: auto;
  background-color: #fff9f2;
  color: #000d07;
  font-size: 24;
  font-weight: 500;
}

p {
  font-size: 22;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #664a26;
  color: #000000;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #21180d;
}

.content {
  text-align: center;
  padding-top: 75px;
}

.content2 {
  text-align: center;
  padding: 50px;
}

h1 {
  text-shadow: 2px 2px #ed9080;
}

.button-one {
  background-color: #664a26;
  border: 3px outset grey;
  border-radius: 10px;
  color: white;
  padding: 15px 32px;
  text-align: center;
  display: inline-block;
  font-family: "Edu AU VIC WA NT Hand", cursive;
  font-size: 18px;
}

.button-one:hover {
  background-color: #21180d; 
  cursor: pointer;
}

.button-group {
  display: flex;
  padding-top: 25px;
  width: 100%;
  justify-content: space-evenly;
  flex-direction: row;
}

.button-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 50%;
}

.button-two {
  background-color: #664a26;
  border: 3px outset grey;
  border-radius: 10px;
  color: white;
  padding: 8px 20px;
  text-align: center;
  display: inline-block;
  font-family: "Edu AU VIC WA NT Hand", cursive;
  font-size: 18px;
}

.button-two:hover {
  background-color: #21180d; 
  cursor: pointer;
}

.button-link {
  align-self: center;
}

.white-text {
  color: #fff9f2;
  float: left;
}

.link-none:link {
  text-decoration: none;
}

.link-none:visited {
  text-decoration: none;
}

.link-none:hover {
  text-decoration: none;
}

.link-none:active {
  text-decoration: none;
}